*{
    padding:0;
    margin:0px;
    box-sizing: border-box;
}

h2{
    font-size:50px;
    padding:20px;
}

.row{
    display: flex;
    justify-content:center;
}

input{
    width:100px;
    padding:5px;
    border-radius: 5px;
    font-size:20px;
}

button{
    background-color:darkblue;
    padding:5px;
    border-radius: 5px;
    border:0;
    font-size:20px;
    color:white;
}